*{
    padding: 0%;
    margin:0%
}


body {
    background: radial-gradient(rgb(0, 44, 88), rgb(74, 86, 95));
}


/*--------------for desktop--------------*/
@media (min-width: 1000px) {
    
section {
    height: 100vh;
    padding: 20px;
}

/*Button*/
.navbtn {
    border-radius: 20px;
    font-size: 20px;
    height: 40px;
    width: 100px;
    color: #333;
    margin: 30px 10px;
    background: #0ef;
    border: none;
    outline: none;
    box-shadow: 0 0 10px #0ef;
    transition: .5s;
    cursor: pointer;
}

#navArea h1 {
    display: none;
}

.navbtn:hover {
    box-shadow: none;
}

header {
    height: 100px;
    background-color: rgba(0, 0, 0, 0.308);
}

h1 {
    font-size: 45px;
    margin-right: 100px;
    color: #ededed;
}

.navdesktop {
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.navmobile {
    display: none;
}

/*introduction*/

.Introduction {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#Text1 {
    width: 600px;
    font-size: 36px; 
    text-align: left;
    color: #ededed;
}

div.image_circle {
    height: 400px;
    width: 400px;
    border-radius:50%;
    background-image: url("../images/IMG_4899_0.jpg");
    background-position: 50% 50%;
    background-size: 150%;
}

/*About Me*/
.AboutMe {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#AboutMeText{
    width: 1000px;
}

h2 {
    font-size: 36px;
    margin-bottom: 30px;
    color: #ededed;
}

#Text2 {
 font-size: 20px;
 text-align: left;
 color: #ededed;
}


/*Tools*/

h3{
    font-size: 36px;
    text-align: center;
    color: #ededed;
}

#Tools {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/*Project*/

#text4 {
    display: block;
    text-align: center;
    font-size: 20px;
}

#text3 {
    display: block;
    text-align: center;
    font-size: 16px;
}

.Project {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: 0 15% 20px 15%;
    padding-bottom: 20px;
    color: #ededed;
}


#item1 img {
    width: 300px;
    border: 3px solid #33333386;
    margin: 30px 0;
}

#item1 img:hover{
    box-shadow: 0 0 10px #333333e1;
}

#item2 img {
    width: 300px;
    border: 3px solid #33333386;
    margin: 30px 0;
}

#item2 img:hover{
    box-shadow: 0 0 10px #333333e1;
}

#item3 img {
    width: 300px;
    border: 3px solid #33333386;
    margin: 30px 0;
}

#item3 img:hover{
    box-shadow: 0 0 10px #333333e1;
}

#item4 img {
    width: 300px;
    border: 3px solid #33333386;
    margin: 30px 0;
}

#item4 img:hover{
    box-shadow: 0 0 10px #333333e1;
}

#Github {
    text-align: center;
}

#html{
    margin: 0 15px;
}

#css{
    margin: 0 15px;
}

#javascript{
    margin: 0 15px;
}

/*contact form*/

.ContactForm {
    display: block;
    background-color: rgba(59, 59, 59, 0.459);
    text-align: center;
    padding-top: 9%;
    height: 70vh;
}

.ContactForm h3 {
    font-size: 40px;
    color: #ededed;
    margin-bottom: 20px;
}

.ContactForm form {
    width: 600px;
    margin: 0 auto; 
    text-align: center;
}

form .input_box {
    display: flex;
    justify-content: space-between;
}

.input_box .input-field {
    width: 45%;
}

.field .item {
    width: 100%;
    padding: 18px;
    background: transparent;
    border: 2px solid #0ef;
    outline: none;
    border-radius: 6px;
    font-size: 16px;
    color: #ededed;
    margin: 12px 0;
}

.field.error .item {
    border-color: #d93025;
}

.field .item::placeholder {
    color: rgba(225, 225, 225, .3);
}

.field .error-txt {
    font-size: 14.5px;
    color: #d93025;
    text-align: left;
    margin: -5px 0 10px;
    display: none;
}

.field.error .error-txt {
    display: block;
}

form .textarea-field .item {
    resize: none;
}

form .textarea-field .error-txt {
    margin-top: -10px;
}

form button {
    padding: 12px 32px;
    background: #0ef;
    border: none;
    outline: none;
    border-radius: 6px;
    box-shadow: 0 0 10px #0ef;
    font-size: 16px;
    color: #333;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
    transition: .5s;
}

form button:hover {
    box-shadow: none;
}

/*footer*/

footer {
    background-color: rgba(0, 0, 0, 0.699);
    height: 100px;
}
}

/*--------------for mobile--------------*/
@media (max-width: 999px) {

/*Button*/
.navbtn {
    display: none;
}



.navdesktop {
    display: none;
}


/*menu*/

.navbtn2 {
    background: none;       
    border: none;         
    color: inherit;          
    font: inherit;         
    cursor: pointer;      
    padding: 5px;           
    margin: 10px;            
    outline: none;        
}

.navmobile {
    display: block;
    width: 220px;
    position: fixed;
    background-color: #fff;
    top: 0;
    left: -300px;
    bottom: 0;
    transition: all 0.5s;
    z-index: 3;
    opacity: 0;
}

.open .navmobile {
    left: 0;
    opacity: 1;
}

nav .inner {
    padding: 25px;
}

nav .inner ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

nav .inner ul li {
    margin: 0;
    border-bottom: 1px solid #333;
}

nav .inner ul li a {
    display: block;
    text-decoration: none;
    color: #333;
    font-size: 14px;
    padding: 1rem;
    transition-duration: 0.2s;
}

nav .inner ul li a:hover {
    background-color: #e4e4e4;
}

.toggle-btn {
    display: block;
    position: fixed;
    top: 30px;
    right: 30px;
    width: 30px;
    height: 30px;
    z-index: 3;
    cursor: pointer;
}

.toggle-btn span {
    position: absolute;
    display: block;
    left: 0;
    width: 30px;
    height: 2px;
    background-color: #ededed;
    transition: all 0.5s;
    border-radius: 4px;
}

.toggle-btn span:nth-child(1) {
    top: 4px;
}

.toggle-btn span:nth-child(2) {
    top: 14px;
}

.toggle-btn span:nth-child(3) {
    bottom: 4px;
}

.open .toggle-btn span {
    background-color: #fff;
}

.open .toggle-btn span:nth-child(1) {
    transform: translateY(10px) rotate(-315deg);
}

.open .toggle-btn span:nth-child(2) {
    opacity: 0;
}

.open .toggle-btn span:nth-child(3) {
    transform: translateY(-10px) rotate(315deg);
}

#mask {
    display: none;
    transition: all 0.5s;
}

.open #mask {
    display: block;
    background-color: #000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    opacity: 0.8;
    cursor: pointer;
}

/*header*/

header {
    height: 85px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.308);
}

#navArea h1 {
    text-align: center;
    padding-top: 25px;
    font-size: 25px;
    color: #ededed;
}



/*introduction*/

.Introduction {
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#Text1 {
    margin: 20px 10px;
    font-size: 30px; 
    text-align: left;
    color: #ededed;
}

div.image_circle {
    margin: auto;
    height: 400px;
    width: 400px;
    border-radius:50%;
    background-image: url("../images/IMG_4899_0.jpg");
    background-position: 50% 50%;
    background-size: 150%;
}

/*About Me*/
.AboutMe {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#AboutMeText{
    width: 1000px;
}

h2 {
    font-size: 36px;
    margin-bottom: 30px;
    color: #ededed;
}

#Text2 {
 font-size: 20px;
 text-align: left;
 color: #ededed;
}


/*Tools*/

h3{
    font-size: 36px;
    text-align: center;
    color: #ededed;
}

#Tools {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/*Project*/

#text4 {
    display: block;
    text-align: center;
    font-size: 20px;
}

#text3 {
    display: block;
    text-align: center;
    font-size: 16px;
}

.ProjectContainer {
    margin-bottom: 300px;
}

.Project {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    margin: 0 15% 20px 15%;
    padding-bottom: 100px;
    color: #ededed;
}


#item1 img {
    width: 300px;
    border: 3px solid #33333386;
    margin: 30px 0;
}

#item1 img:hover{
    box-shadow: 0 0 10px #333333e1;
}

#item2 img {
    width: 300px;
    border: 3px solid #33333386;
    margin: 30px 0;
}

#item2 img:hover{
    box-shadow: 0 0 10px #333333e1;
}

#item3 img {
    width: 300px;
    border: 3px solid #33333386;
    margin: 30px 0;
}

#item3 img:hover{
    box-shadow: 0 0 10px #333333e1;
}

#item4 img {
    width: 300px;
    border: 3px solid #33333386;
    margin: 30px 0;
}

#Tools {
    margin-top: 250px;
}

#item4 img:hover{
    box-shadow: 0 0 10px #333333e1;
}

#Github {
    display: block;
    margin-top: 10px;
    text-align: center;
}

#html{
    margin: 0 15px;
}

#css{
    margin: 0 15px;
}

#javascript{
    margin: 0 15px;
}

/*contact form*/

.ContactForm {
    display: block;
    background-color: rgba(59, 59, 59, 0.459);
    text-align: center;
    padding-top: 30px;
    height: 900px;
}

.ContactForm h3 {
    font-size: 40px;
    color: #ededed;
    margin-bottom: 20px;
}

.ContactForm form {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

form .input_box {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(1, 1fr);
}

.input_box .input-field {
    width: 90%;
}

.field .item {
    width: 100%;
    padding: 18px;
    background: transparent;
    border: 2px solid #0ef;
    outline: none;
    border-radius: 6px;
    font-size: 16px;
    color: #ededed;
    margin: 12px 0;
}

.field.error .item {
    border-color: #d93025;
}

.field .item::placeholder {
    color: rgba(225, 225, 225, .3);
}

.field .error-txt {
    font-size: 14.5px;
    color: #d93025;
    text-align: left;
    margin: -5px 0 10px;
    display: none;
}

.field.error .error-txt {
    display: block;
}

form .textarea-field .item {
    width: 90%;
    display: grid;
    text-align: left;
}

form .textarea-field .error-txt {
    margin-top: -10px;
}

form button {
    padding: 12px 32px;
    background: #0ef;
    border: none;
    outline: none;
    border-radius: 6px;
    box-shadow: 0 0 10px #0ef;
    font-size: 16px;
    color: #333;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
    transition: .5s;
}

form button:hover {
    box-shadow: none;
}

/*footer*/

footer {
    background-color: rgba(0, 0, 0, 0.699);
    height: 100px;
}
}